.hero-extended{
  padding: 5rem 10%;

  .right{
    width: 50%;
    gap: 2rem;
    
    .font-28{
      line-height: 2.5rem;
      width: 80%;
      
      .text-gradient{
        background: linear-gradient(90deg, #418DF2 0%, #5151E5 40.25%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}