.prototype{
  gap: 4rem;
  padding: 4rem 7%;

  .head{

    .text-gradient{
      background: linear-gradient(90deg, #418DF2 20.24%, #5151E5 51.13%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .card-holder{
    gap: 3.25rem;
    align-items: center;
    justify-content: center;

    .card{
      gap: 3rem;
      justify-content: space-between;

      .left{
        display: flex;
        flex-direction: column;
        gap: 1.75rem;
        width: 50%;
      }

      .right{

        img{
          height: 280px;
        }
      }
    }
  }
}