@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .3s;
  font-family: 'Roboto', sans-serif;
}

.App{
  scroll-behavior: smooth;

  .navbar{
    padding: .75rem 7%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    z-index: 5;
    position: relative;

    .nav-items{
      gap: 2rem;

      .nav-links{
        gap: 1.25rem;

        .item{
          padding: .625rem 1.25rem;
        }

        .selected{
          border-bottom: 1px solid #418DF2;
        }
      }
    }
  }
}

.gray-text{color: #7D7C7C;}

.font-orbitron{font-family: "Orbitron", sans-serif;}

.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.text-title{text-transform: capitalize;}

.regular-bold{font-weight: 400;}
.medium-bold{font-weight: 500;}
.semi-bold{font-weight: 600;}
.bold{font-weight: 700;}
.extra-bold{font-weight: 900;}

.cursor-pointer{cursor: pointer;}

.flex{display: flex;}
.flex-d-col{display: flex; flex-direction: column;}
.flex-a-cen{display: flex; align-items: center;}
.flex-j-cen{display: flex; justify-content: center;}
.flex-a-cen-j-cen{display: flex; align-items: center; justify-content: center;}
.flex-a-cen-j-spbet{display: flex; align-items: center; justify-content: space-between;}

.font-12{font-size: 0.75rem;}
.font-14{font-size: 0.875rem; line-height: 1.5rem;}
.font-16{font-size: 1rem; line-height: 1.825rem;}
.font-18{font-size: 1.125rem}
.font-20{font-size: 1.25rem}
.font-22{font-size: 1.375rem}
.font-24{font-size: 1.5rem}
.font-26{font-size: 1.625rem}
.font-28{font-size: 1.75rem}
.font-30{font-size: 1.875rem}
.font-32{font-size: 2rem;}
.font-36{font-size: 2.25rem}
.font-40{font-size: 2.5rem;}
.font-48{font-size: 3rem}
.font-60{font-size: 3.75rem;}
.font-72{font-size: 4.5rem;}